// Path: src\Pages\SIGNIN&LOGIN.jsx

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: -webkit-linear-gradient(45deg, #4e6981, #156e8a);

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        background-color: #fff;
        padding: 20px 60px;
        border-radius: 1rem;

        .logo {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: #156e8a;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 2rem;
            font-style: italic;
            padding: 5px;
        }

        .title {
            font-size: 1.5rem;
            font-weight: 600;
            color: #156e8a;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            input {
                width: 300px;
                padding: 10px;
                border: none;
                border-bottom: 1px solid #156e8a;
                border-radius: 5px;
                outline: none;
                font-size: 1rem;

                &::placeholder {
                    color: #5e686b;
                    font-size: 0.9rem;
                }
            }

            label {
                display: flex;
                align-items: center;
                gap: 1rem;
                font-size: 0.9rem;
                color: #438194;
                cursor: pointer;
            }

            .signup-icon {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: #156e8a;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                padding: 3px;
                font-size: 1.5rem;
                font-weight: 600;
            }

            button {
                padding: 10px;
                border: none;
                border-radius: 5px;
                background-color: #156e8a;
                color: #fff;
                font-weight: 600;
                cursor: pointer;
            }
        }

        p {
            font-size: 0.9rem;
            color: #5e686b;
        }
    }
}

// Path: src\Pages\Home.jsx
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: -webkit-linear-gradient(45deg, #4e6981, #156e8a);

    .main {
        display: flex;
        border: 0.13rem solid #0c495c;
        border-radius: 0.8rem;
        width: 65%;
        height: 80%;
        overflow: hidden;

        .sidebar {
            flex: 1;
            background-color: #0a2c36;
            //border-right: 0.13rem solid #0c495c;

            .navbar {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 1rem;
                height: 60px;

                // border-bottom: 1px solid #fff;
                border-right: 0.13rem solid #0c495c;
                background-color: #0c495c;
                color: #fff;

                .logo {
                    color: #156e8a;
                    font-size: 1rem;
                    font-style: italic;
                    font-weight: bold;
                }

                .user {
                    display: flex;
                    gap: 10px;

                    img {
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        background-color: #000;
                        object-fit: cover;
                    }
                }

                button {
                    padding: 5px 10px;
                    border: none;
                    border-radius: 5px;
                    background-color: #1e82a0;
                    color: #fff;
                    font-weight: 600;
                    font-size: 0.7rem;
                    cursor: pointer;
                }
            }


            .search {
                border-bottom: 1px solid #0c495c;

                .search-box {
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    color: #fff;

                    .search-form {
                        padding-bottom: 10px;
                        padding: 2px 0 5px 2px;
                        background-color: #264650;
                        width: 80%;
                        border-radius: 10px;
                        margin: 0 0 5px 10px;

                        .search-icon {
                            margin-top: 1px;
                            font-size: .9rem;
                        }

                        input {
                            background-color: #264650;
                            border: none;
                            width: 80%;
                            margin-top: 2px;
                            margin-bottom: 3px;
                            padding-top: 5px;
                            color: #fff;
                            outline: none;

                            &::placeholder {
                                color: grey;
                                letter-spacing: 1.5px;
                            }
                        }

                        .close-icon {
                            display: none;
                            margin-right: 1rem;
                            margin-top: 8px;
                            font-size: .9rem;
                            cursor: pointer;
                        }
                    }

                    .sort-icon {
                        font-size: 1.5rem;
                        cursor: pointer;
                    }
                }
            }

            .user-chat {
                padding: 10px;
                display: flex;
                align-items: center;
                gap: 10px;
                color: #fff;

                &:hover {
                    background-color: #0c495c;
                }

                img {
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    background-color: #ddddf7;
                    object-fit: cover;
                }
            }

            .user-chat_info {
                span {
                    font-size: 18px;
                    font-weight: 500;
                }

                p {
                    font-size: 14px;
                    color: gray;
                }
            }
        }

        .chat {
            flex: 2;
            background: -webkit-linear-gradient(45deg, #bfc5ca, #a4bac0);

            .chat-info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 60px;
                background-color: #0a2c36;
                border-bottom: 0.13rem solid #fff;
                padding: 0 10px;
                color: gray;

                .chat-icons {

                    .all-icons {
                        padding: 10px;
                        cursor: pointer;
                    }
                }
            }
        }

        .messages {
            padding: 10px;
            height: calc(100% - 160px);
            overflow-y: scroll;

            .message {
                display: flex;
                gap: 10px;
                margin-bottom: 20px;

                .message-info {
                    display: flex;
                    flex-direction: column;
                    color: gray;
                    font-weight: 300;

                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }


                .message-content {
                    max-width: 80%;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    p {
                        background-color: #fff;
                        padding: 10px 20px;
                        border-radius: 0 10px 10px;
                    }

                    img {
                        width: 50%;
                    }
                }

                &.owner {
                    flex-direction: row-reverse;

                    p {
                        color: #fff;
                        background-color: #798a8f;
                    }
                }

            }
        }


        .input {
            height: 60px;
            background-color: #f9fbfc;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            input {
                width: 100%;
                border: none;
                outline: none;
                color: #031216;
                font-size: 1rem;
                padding: 1.2rem;
                background-color: #f9fbfc;

                &::placeholder {
                    color: lightgray;
                }
            }

            .send {
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                font-size: 1.1rem;

                .send-icon {
                    font-size: 1.5rem;
                }

                button {
                    border: none;
                    color: rgb(205, 213, 216);
                    font-size: 2rem;
                    background-color: #1e82a0;
                    cursor: pointer;
                    padding: 5px 5px 0 5px;
                    border-radius: 5px;
                    //background-color: #6c8a80;


                }
            }
        }
    }
}